$theme-colors: (
  primary: #2AE98D,
  dark:    #999
);

$font-family-base: 'Inter';
$headings-font-family: 'Inter';

$body-bg: #1F1F21;
$body-color: #FFF;

$btn-padding-y: 1rem;
$btn-padding-x: 2rem;
$btn-font-size: .875rem;
$btn-border-radius: 30px;

$input-font-size: 18px;
$input-padding-x: 0;
$input-border-radius: 0;
$input-border-color: #565656;
$input-placeholder-color: #565656;

$input-focus-border-color: #FFF;
$input-focus-color: #FFF;
$input-focus-box-shadow: none;

$form-label-font-size: 12px;

@import "bootstrap/scss/bootstrap";

.text-color-gray  {
  color: #999
}

.mt-10 {
  margin-top: 7rem;
}

.container {
  max-width: 820px;
}

.form-control {
  border: none;
  border-bottom: 2px solid #565656;
}